<div class="flex flex-row">
    <div>
        <img src="/pfp.png" alt="Ludicra's profile picture" class="rounded w-full" loading="lazy" width=64 height=64 />
    </div>
    <div>
        <h1 class="font-heading text-5xl font-bold">Ludicra</h1>
        <hr class="border-t-32 border-gray-300 relative bottom-4 -z-10" />
        <p class="text-xs font-mono -mt-8">@ludicra_</p>
    </div>
</div>